<ion-header class="title-height">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="symptoms">
            <ion-icon name="home"></ion-icon>
            <ion-label>Symptoms</ion-label>
          </ion-tab-button>

      <ion-tab-button tab="allopathic">
        <ion-icon name="home"></ion-icon>
        <ion-label>Allopathic</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="homeopathic">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Homeopathic</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="ayurvedic">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Ayurvedic</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
