<ion-header class="title-height">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      
    <ion-searchbar  animated placeholder="Search" [(ngModel)]="searchTerm" 
    (ionInput)="onSearchEvent()" showCancelButton="true" (ionCancel)="onSearchCancelEvent($event)"></ion-searchbar>
  
  </ion-toolbar>
  </ion-header>

<ion-content>
   
  <div *ngIf="hideSearch"> 
      <!-- <button color="primary" block (click)="Backtohome()" style="margin-left: 900px;">Back</button> -->
      
        <ion-grid>
            <!-- <ion-card> -->
            <ion-row *ngFor="let d of Disease">
              <ion-col style ="margin-left:10px; " col-1 size="4">
                <ion-card style="height: 100px; width: 110;">
                    <ion-avatar item-start>
                      <img [src]="d.url" height="60" width="100" [routerLink]="['/tabs/symptoms']" style="margin-left: 10px;" >
                    </ion-avatar>
                  
                    <h4 text-capitalize style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 11px;color: black;font-weight: bold;text-align: center;">{{ d.name}}</h4>
                  
                  </ion-card>
              </ion-col>
              <ion-col size="7" col-10 >
                
                  <ion-card-content style="font-size: 12px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                      {{ d.desc}}
                     </ion-card-content>
                    
              </ion-col>
            </ion-row>
          <!-- </ion-card> -->
          </ion-grid>
       
  </div>
   <div *ngIf="hidehome">
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle >{{searchTerm}}</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
        
      </ion-item>
    </ion-list>
    <ion-nav #myNav [root]="quickSearchPage"></ion-nav>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Lemeknow Inc.</ion-title>
  </ion-toolbar>
</ion-footer>
